// Mixins Here

// parameter mix in

.button-shortcut() {
  font-size: 1.7rem;
  border: 1px solid black;
  width: 28%;
  text-align: center;
  padding: 3% 2%;
  color: white;
  background: black;
  border-radius: 5px;
  font-weight: bold;
}
